{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - NowTickets
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}