{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} Mis Mensajes
{% endblock %}

{% block body %}

    {% if messages %}

        <h1 class="text-center mt-2 bg-danger text-white border-0">
            Mis Mensajes
        </h1>

        <ul class="list-group m-auto">
            <div class="row text-center">
                <h4 class="col-4 list-group-item-heading" for="Remitente">Remitente: </h4>
                <h4 class="col-8 list-group-item-heading" for="Mensaje">Mensaje: </h4>
            </div>
            {% for message in messages %}
                <li class="list-group-item list-group-item-warning m-auto w-100 text-center">
                    <!--<div class="row">-->
                    <h5 class="col-4 "> {{ message.remitente.getNombre() }}</h5>
                    <h5 class="col-8 "> {{ message.getMensaje() }}</h5>
                </li>

            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}