<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Now Tickets : {% endblock %}</title>
    {% block stylesheets %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">


        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
              crossorigin="anonymous">


    {% endblock %}
</head>
<body>
<div class="container">
    {% block menu %}
        <nav class="navbar navbar-toggleable-md navbar-light bg-warning">
            <a class="navbar-brand" href="{{ path('events') }}">Now Tickets</a>
            <ul class="navbar-nav mr-auto">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">Categorias</a>
                    <ul class="dropdown-menu navbar-dark bg-dark">
                        {% for categoria in globalParams.categorias %}
                            <li>
                                <a href="/events/categoria/{{ categoria.getId() }}">
                                    {{ categoria.getNombre() }}
                                </a>
                            </li>
                        {% endfor %}

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">Provincias</a>
                    <ul class="dropdown-menu navbar-dark bg-dark">
                        {% for provincia in globalParams.provincias %}
                            <li>
                                <a href="/events/provincia/{{ provincia.getId() }}">
                                    {{ provincia.getNombre() }}
                                </a>
                            </li>
                        {% endfor %}

                    </ul>
                </li>
                {% if (is_granted(['ROLE_COMPRADOR'])) %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">Perfil</a>
                    <ul class="dropdown-menu navbar-dark bg-dark">
                        <li>
                            {#preguntar como sacar el perfil#}
                            <a class="nav-item nav-link"
                               href="{{ path('my-perfil')}}">Mi Perfil</a>
                        </li>
                        <li>
                            <a class="nav-item nav-link" href="{{ path('my-tickets') }}">Mis Entradas</a>
                        </li>
                        <li>
                            <a class="nav-item nav-link" href="{{ path('myevents') }}">Mis Eventos</a>
                        </li>
                        <li>
                            <a class="nav-item nav-link" href="{{ path('mymessage') }}">Mis Mensajes</a>
                        </li>
                    </ul>
                </li>
                {% endif %}

                {% if (is_granted(['ROLE_GESTOR'])) %}
                    <a class="nav-item nav-link" href="{{ path('events_new') }}">Crear Evento</a>
                {% endif %}


                {% if (is_granted(['ROLE_ADMINISTRADOR'])) %}
                    <a class="nav-item nav-link" href="{{ path('users_new') }}">Crear Usuario </a>
                    <a class="nav-item nav-link" href="{{ path('users') }}">Gestion Usuarios</a>
                {% endif %}

                <a class="nav-item nav-link" href="/login">Login</a>
            </ul>
            <div class="ml-auto">

                <a class="navbar-nav ml-auto" href="{{ path('logout') }}">Logout</a>
            </div>
            </ul>
        </nav>
    {% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}
        <footer>
            <p class="text-center">Copyright &copy; DWES 2017 - 2018</p>
        </footer>{% endblock %}
</div>

</body>
{% block javascripts %}
    <!-- Optional JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <script>
        function confirmar(link) {
            var check = confirm("Se va a borrar el evento. Estas seguro?");
            if (check) {
                location.href = link;
            }
            else {
                console.log('borrado falso');
            }
        }
    </script>
{% endblock %}

</html>
