{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - Login
{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error.message }}
        </div>
    {% endif %}

    <form action ="{{ path('login') }}" method ="post">
        <div class="form-group">
            <label class="mt-4" for="username"> Email:</label>
            <input class="form-control mt-4" type ="text" id ="username" name ="_username" value ="{{ last_username }}" />
        </div>
        <div class="form-group">
            <label class="mt-4" for="password"> Password :</label>
            <input class="from-control mt-4" type ="password" id ="password" name ="_password" />
        </div>
            <button type ="submit" class="btn btn-outline-primary"> Login </button>

    </form>
{% endblock %}