{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} {{ titulo }}
{% endblock %}

{% block body %}
    <h1 class="text-center mt-2 bg-danger text-white border-0">
        Mis Entradas
    </h1>

    <ul class="list-group m-auto">
        <div class="row text-center">
            <h4 class="col-3 list-group-item-heading" for="titulo">Título: </h4>
            <h4 class="col-3 list-group-item-heading" for="precio">Precio: </h4>
            <h4 class="col-3 list-group-item-heading" for="titulo">Entradas: </h4>
            <h4 class="col-3 list-group-item-heading" for="titulo">Precio Total: </h4>
        </div>
        {% for ticket in tickets %}
                <li class="list-group-item list-group-item-warning m-auto w-100 text-center">
                    <!--<div class="row">-->
                    <h5 class="col-3 "> {{ ticket.evento.getTitulo() }}</h5>
                    <h5 class="col-3 "> {{ ticket.getPrecio() }}</h5>
                    <h5 class="col-3 "> {{ ticket.getCantidad() }}</h5>
                    <h5 class="col-3 "> {{ ticket.getCosteTotal() }}</h5>
                </li>

        {% endfor %}
    </ul>

    </div>



{% endblock %}