{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} {{ titulo }}
{% endblock %}

{% block body %}
    <h1 class="text-center mt-2 bg-info text-white border-0">
        Crear o Editar nuevo Usuario
    </h1>
    {{ form_start(formUser) }}
    {{ form_widget(formUser) }}
    {{ form_end(formUser) }}


{% endblock %}



