{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} {{ titulo }}
{% endblock %}

{% block body %}
    <h1 class="text-center mt-2 bg-info text-white border-0">
        Usuarios
    </h1>

    {# Barra de busqueda#}
    <section id="search">
        <form class="form-control text-right bg-success" id="form-busqueda" action="/users" method="POST">
            <label for="buscar">Busca un Usuario</label>
            <input type="search" name="busqueda" value="">
            <input type="submit" name="enviar" value="enviar">
        </form>
    </section>

    <nav class="navbar navbar-light bg-light justify-content-between mt-3"></nav>

    <div id="eventsContainer" class="row">

        {% for usuario in usuarios %}
            <div class="mb-4 mt-4 col-xs-12 col-md-6">
                <div class="card">
                    <a href="/users/{{ usuario.getId() }}">
                        <img class="card-img-top mb-4" style="max-width: 100%;"
                             src="{{ usuario.getAvatarString() }}"></a>
                    <div class="card-body ml-3">
                        <h4 class="card-title">
                            <a href="/events/{{ usuario.getId() }}">{{ usuario.getUserName }}</a>
                        </h4>
                        <h5 class="card-text">Nombre: {{ usuario.getNombre() }} {{ usuario.getApellidos() }}</h5>
                        <p class="card-text">Email: {{ usuario.getEmail() }}</p>
                    </div>

                    <div class="text-right">
                        <a href="/users/{{ usuario.getId() }}">
                            <button class="btn btn-outline-danger mr-3 mb-3">Borrar</button>
                        </a>
                        <a href="/users/editar/{{ usuario.getId() }}">
                            <button class="btn btn-outline-primary float-right mr-3 mb-3">Editar</button>
                        </a>
                    </div>

                    <div class="card-footer">
                        <small class="float-right">
                            Fecha de Nacimiento: {{ usuario.getFechaNacimiento().format('d-m-Y') }}
                        </small>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>


    {#<script src="js/crud.js"></script>#}

{% endblock %}