{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} {{ titulo }}
{% endblock %}

{% block body %}
    <h1 class="text-center mt-2 bg-info text-white border-0">
        {{ users.getUser() }}
    </h1>

    <div class="mb-4 mt-4 col-xs-12">
        <div class="card">
                <img class="card-img-top mb-4" style="max-width: 100%;"
                     src="{{ users.getAvatarString() }}">
            <div class="card-body ml-3">
                <h4 class="card-title">
                    {{ users.getUser() }}
                </h4>
                <h5 class="card-text">Nombre: {{ users.getNombre() }} {{ users.getApellidos() }}</h5>
                <p class="card-text">Email: {{ users.getEmail() }}</p>
            </div>

            <div class="text-right">
                <a href="/users/borrar/{{ users.getId() }}">
                    <button class="btn btn-outline-danger mr-3 mb-3">Borrar</button>
                </a>
                <a href="{{ path('users_edit',{'id': users.getId()}) }}">
                    <button class="btn btn-outline-primary float-right mr-3 mb-3">Editar</button>
                </a>
                <a href="{{ path('messageTo', {'id': users.getId()}) }}">
                    <button class="btn btn-outline-success float-right mr-3 mb-3">Enviar Mensaje</button>
                </a>
            </div>

            <div class="card-footer">
                <small class="float-right">
                    Fecha de Nacimiento: {{ users.getFechaNacimiento().format('d-m-Y') }}
                </small>
            </div>
        </div>
    </div>



{% endblock %}