{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} {{ titulo }}
{% endblock %}

{% block body %}
    <h1 class="text-center mt-2 bg-primary text-white border-0">
        {{ events.getTitulo() }}
    </h1>

    <div class="card">
        <img class="card-img-top mb-4" style="max-width: 100%;"
             src="{{ events.getImagenString() }}">
        <div class="card-body">
            <div class="float-left mr-4 text-center">
                <a href="{{ path('users_id', {'id': events.creador.GetId() }) }}" >
                    <img class="rounded-circle ml-3" style="width: 80px; height: 70px;"
                         src="{{ events.creador.getAvatarString() }}" alt=""></a>
                <div>
                    <h5 class="text-center">{{ events.creador.getUsername() }}</h5>
                </div>
            </div>
            <h4 class="card-title">
                <a href="/events/{{ events.getId() }}">{{ events.getTitulo() }} </a>
            </h4>

            <p class="card-text">Categoria: {{ events.categoria.getNombre() }}</p>
            <p class="card-text">Provincia: {{ events.provincia.getNombre() }}</p>
            <p class="card-text ml-5">Descripcion: {{ events.getDescripcion() }}</p>
        </div>

        <div class="text-right">
            <a href="/events/remove/{{ events.getId() }}">
                <button class="btn btn-outline-danger mr-3 mb-3"
                        onclick="confirmar('/eventos/remove/{{ events.getId() }}')">Borrar</button>
            </a>
            <a href="/events/edit/{{ events.getId() }}">
                <button class="btn btn-outline-primary float-right mr-3 mb-3">Editar</button>
            </a>

        </div>

        <div class="card-body">
            <h3 class="card-title text-center">Compra tus entradas</h3>
            <div class="container-fluid mb-3">
                {{ form_start(formEntrada) }}
                {{ form_widget(formEntrada) }}
                {{ form_end(formEntrada) }}
            </div>
        </div>

        <div class="card-footer">
            <small class="text-muted">
                {{ events.getFecha().format('d-m-Y') }}
                <span class="float-right">{{ events.getPrecioEntrada() }} €</span>
            </small>
        </div>

    </div>





{% endblock %}