{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} {{ titulo }}
{% endblock %}

{% block body %}
    <h1 class="text-center mt-2 bg-primary text-white border-0">
        Crea o modifica Evento
    </h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('events') }}" class="btn btn-outline-warning btn-block">Vuelve Atrás</a>


{% endblock %}



