{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} {{ titulo }}
{% endblock %}

{% block body %}
    <h1 class="text-center mt-2 bg-primary text-white border-0">
        Eventos
    </h1>

    {# Barra de busqueda#}
    <section id="search">
        <form class="form-control text-right bg-success" id="form-busqueda" action="/eventos" method="POST">
            <label for="buscar">Busca tu Evento</label>
            <input type="search" name="busqueda" value="">
            <input type="submit" name="enviar" value="enviar">
        </form>
    </section>

    <nav class="navbar navbar-light bg-light justify-content-between mt-3"></nav>

    <div id="eventsContainer" class="row">

        {% for evento in eventos %}
            <div class="mb-4 mt-4 col-xs-12 col-md-6">
                <div class="card">
                    <a href="/events/{{ evento.getId() }}">
                        <img class="card-img-top mb-4" style="max-width: 100%;"
                             src="{{ evento.getImagenString() }}"></a>
                    <div class="card-body">
                        <div class="float-left mr-4 text-center">
                            <a href="{{ path('users_id', {'id': evento.creador.GetId() }) }}">
                                <img class="rounded-circle ml-3" style="width: 70px; height: 70px;"
                                     src="{{ evento.creador.getAvatarString() }}" alt=""></a>
                            <div>
                                <h6 class="text-center mt-2">{{ evento.creador.getUsername() }}</h6>
                            </div>
                        </div>
                        <h4 class="card-title">
                            <a href="/events/categoria/{{ evento.getId() }}">{{ evento.getTitulo() }} </a>
                        </h4>

                        <p class="card-text">Categoria: {{ evento.categoria.getNombre() }}</p>
                        <p class="card-text">Provincia: {{ evento.provincia.getNombre() }}</p>
                    </div>

                    <div class="text-right">
                        {#borra siempre hagas lo que hagas en el confirm#}
                        <a href="/events/remove/{{ evento.getId() }}">
                            <button class="btn btn-outline-danger mr-3 mb-3"
                                    onclick="confirmar('/eventos/remove/{{ evento.getId() }}')">Borrar</button>
                        </a>
                        <a href="/events/edit/{{ evento.getId() }}">
                            <button class="btn btn-outline-primary float-right mr-3 mb-3">Editar</button>
                        </a>
                    </div>

                    <div class="card-footer">
                        <small class="text-muted">
                            {{ evento.getFecha().format('d-m-Y') }}
                            <span class="float-right">{{ evento.getPrecioEntrada() }} €</span>
                        </small>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

    {#<script src="js/crud.js"></script>#}

{% endblock %}