{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} {{ titulo }}
{% endblock %}

{% block body %}
<h1 class="text-center mt-2 bg-danger text-white border-0">
    Mis Eventos
</h1>

<ul class="list-group m-auto">
    <div class="row text-center">
        <h4 class="col-3 list-group-item-heading" for="titulo">Título: </h4>
        <h4 class="col-3 list-group-item-heading" for="precio">Descripcion: </h4>
        <h4 class="col-3 list-group-item-heading" for="titulo">Fecha: </h4>
        <h4 class="col-3 list-group-item-heading" for="titulo">Precio: </h4>
    </div>
    {% for event in events %}
        <li class="list-group-item list-group-item-warning m-auto w-100 text-center">
            <!--<div class="row">-->
            <h5 class="col-3 "> {{ event.getTitulo() }}</h5>
            <h5 class="col-3 "> {{ event.getDescripcion() }}</h5>
            <h5 class="col-3 "> {{ event.getFecha().format('d-m-Y') }}</h5>
            <h5 class="col-3 "> {{ event.getPrecioEntrada() }} </h5>
        </li>

    {% endfor %}
</ul>

{% endblock %}